#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Enterprise Java and Web Developers - 2021-12
Exec=env GTK_IM_MODULE=ibus /home/labuser/eclipse/jee-2021-12/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/labuser/eclipse/jee-2021-12/eclipse/icon.xpm
